/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.menu menu--account nav navbar-nav navbar-right
 */
 @font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

@media (max-width:480px)  {

    /*statusbar above content*/
    .course-details-content{
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .header-img{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .foh-welcome-block{
        height: auto;
        width:100%;
        background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
        box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
        border-radius: 22px;
        text-align: center; 
    }
    .foh-welcome-text{
        color: #FFFFFF;  
        padding: 10px; 
        line-height: 5rem;
    }
    .foh-welcome-text-p1{
        font-size: 22px;
    }
    .foh-welcome-text-p2{
        font-size: 8px;
    } 
    .foh-course-reg{
        font-size: 22px;
    }
    .wellness-together-main{
        display: block;
    }
    .wellness-together{
        width: 100%;

    }
    .wellness-img{
        height: auto;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        
    }
    .image-container {
        width: 100%;
        height: auto;   
        display: flex;
    }
    .iframe{
        height: auto;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
    }
    /* Footer area code */
    .footer{
        padding: 0;
        margin: 0;
        margin-bottom: 0;
        width: 100%;
        padding-top: 20px;
    }

    .footer-main{
        background-color:#3A8EF6;
        color:#FFFFFF;
        height:10rem;
        width: 100%;
        display: inline-block;
        
    }

    .footer-logo-img{
        height:50px;
        width:75px;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .footer-line{
        border-left:1px solid white;
        height:30px;
        left:150px;
        margin-top: 3rem;
        position:absolute;
    }

    .footer-text{
        font-size: 6px;
        float: right;
        width: 50%;
        margin-top: 1.2rem;
        margin-right: 1rem;

      
    }
    .navbar-header {
        width:100%;
        color: #FFFFFF;
    }
    
    #navbar {
        background: linear-gradient(90.52deg, #5463F8 33.6%, #340A47 104.67%);
        height: 100%;
        }


    /*2nd page*/
    /*#edit-optimal-aging>thead>tr>th,tbody>tr>td{
        display: block;
        width: 100%;
    }*/
    /*3rd page*/
    .reg-button-block{
        height:3rem;
        width: 15rem;
        border-radius: 20px;
        background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    }
    .button{
        display: inline-block;
        color: #FFFFFF;
        font-weight: bold;
        margin-top: 4px; 
    }
    .success-img{
        margin-top: 2rem;
        height: 100px;
        width: 300px;
    }
    /*Lastname*/
    #edit-last-name{
        margin-top: 1rem;
    }
    
    
}

body{
    font-family: poppins;
}
/*@media (min-width:801px){*/

.image-container {
    max-width: 100%;
    height: auto;   
    display: flex;
}

/*.views-row{
    height: 567px;
    width: 300px;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
    box-shadow: 0 4px 8px 0 rgba(65, 132, 247,0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 24px;
    margin-left: 5%;
    display: inline;
    width: 20%;

}
.views-field-title{
    font-size: larger;
    font-weight: bold;
}
.field-content{
    color: #6C87AE;
}
.webinar-blog>p{
    font-size: 18px;
}*/
/*.webinar-blog-register{
    width: 332px;
    height: 50px;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}*/

.webinar-blog-register{
    /*position: absolute;*/
    width: 282px;
    height: 56px;
    right: 346px;
    top: 1724px;
    text-align: center;
    padding: 5px;
    
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
    border-radius: 100px;
}

.register-button{
    display: block;
    color: whitesmoke;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
}
.clock-img{
    height: 50px;
    width: 50px;
}
.notepad-img{
    height: 40px;
    width: 30px;
}
.webinar-table{
    margin-left: 20%;
}


/* Footer area code */



.foh-welcome-block{
    height: 25rem;
    width:80%;
    margin-top: 6%;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
    border-radius: 32px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}
.foh-welcome-text{
    color: #FFFFFF;  
    padding-top: 50px; 
    line-height: 5rem; 
}
.foh-welcome-text-p1{
    font-size: 28px;
    padding-left: 2%;
    padding-right: 2%;
}
.foh-welcome-text-p2{
    margin-bottom: 3rem;
    font-size: 18px;
    color: #F9FBFC;
}

/*wellness-together*/
.wellness-together{
    height: auto;
    font-size: 30px;
    font-weight: bold;
    margin-top: 9rem;
    color: #031432;
}
.wellness-img{
    margin-top: -5rem;
    border-top-left-radius: 7rem;
}
/* Header image */

.header-img {
    width: 100%;
    padding: 0;
    margin: 0;

}

/* Navbar */

/*#block-foh-languageswitcher {
    float: right;
}*/

.navbar-header {
    width:100%;
    color: #FFFFFF;
}
#navbar {
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    height: auto;
    }
	
	
	/* menu menu--account nav navbar-nav navbar-right
    
    Having a positive outlook on aging might be one of the most important factors in optimal aging. Learn more in this TEDx Talk by Dr. Keri-Leigh Cassidy, Founder of the Fountain of Health™ */
.watchvideotext
{

width: 485px;
height: 96px;

font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Second */

color: #6C87AE;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.foh-terms{
 

left: 146px;
top: 401px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 46px;
/* or 164% */

letter-spacing: -0.02em;

color: #000000;
}
.btn{
    width: 350px;
height: 50px;
left: calc(50% - 400px/2 - 19px);
top: 3800px;

background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
border-radius: 100px;



}
.btn:hover .btn::after{
    text-decoration: none;
    color: #FFFFFF;
}


/* TEDx Talk on Optimal Aging */
.watchvideohead
{
    
width: 485px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */

display: flex;
align-items: center;

/* dark */

color: #031432;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.watch-icon {
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    height: 55px;
    width: 157px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
}

.layout--onecol{
    width: 80%;
    margin-left: 10%;
}
.foh-testimonialtitle{
    width: 676px;
height: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* or 125% */

text-align: center;

/* Second */

color: #6C87AE;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/*form age*/
#edit-age{
    width: 100%;
}
/*form phone*/
#edit-last-name{
    margin-top: 2.4rem;
}
/* Register NOW ! */
.program-register-now{
text-align:center;
width: 142px;
height: 23px;
left: 82px;
top: 16px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;

/* White' */

color: #FFFFFF;
background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
border-radius: 100px;

}
.reg-button-block{
    height:3.4rem;
    width: 20rem;
    border-radius: 20px;
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
}
.button{
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 6px; 
}


.views-view-responsive-grid__item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

/*
Registration Form Top 
First Row
Program title | webinar
Second Row
duration|Data and time 
*/
.prgm-title-in-reg
{
/* Rectangle 24 */
box-sizing: border-box;
position: absolute;
width: 1440px;
height: 133px;
left: 0px;
top: 1281px;
background: #5464F8;
border: 1px solid #9A9A9A;
}

.prgm-title-in-reg > h2{
position: absolute;
width: 971px;
height: 25px;
left: 216px;
top: 1315px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 25px;


text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;

}

.prgm-title-in-reg > p{
	position: absolute;
width: 971px;
height: 25px;
left: 216px;
top: 1354px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
/* identical to box height, or 147% */

text-align: center;
letter-spacing: -0.02em;

color: #FFC700;
	
}


/*
End 
Registration Form Top 
First Row
Program title | webinar
Second Row
duration|Data and time 
*/

/**/
/*Register Now Button in landing page*/
	/**/
/*Register Now Button in landing page*/


.views-field .views-field-title{
	font-family: poppins !important;
}



.block-views-blockcourse-list-block-1{
    width: 80%;
    margin-left: 5%;
}
.registration-box{
display: flex;
width:40%;
height: 52rem;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
border-radius: 24px;
background: #FFF;
box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
padding: 2rem;  
margin-left: 10%;
}
.registration-box > .program-details {
    height: 23rem;
    color: #636060;
}
.program-duration {
    padding-left: 30%;
    margin-top: 3rem;
    width: 100%;
    font-weight: bold;
}
.views-field >.program-duration {
    padding-left: 30%;
    margin-top: 3rem;
    width: 100%;
}
.program-title{
    color: #000000;
    font-size: 20px;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 600;
}
.program-type{
    font-size: 14px;
    color: #6C87AE;
    margin-top: -2rem;
}

 .registration-now{
display: inline-flex;
padding: 1rem;
gap: 33px;
width: 80%;
background: linear-gradient(141deg, #3A8EF6 0%, #6F3AFA 100%);
box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
border-radius: 100px;
margin-left: 10%;
}
.registration-now::before{
           content: url('/FOH/fountainofhealth.ca/sites/default/files/inline-images/vector.PNG');
           padding-left: 15px;
           /*content:'';*/
          
        }
    
        .registration-now >div >a:hover{
            text-decoration: none;
        }
    
    
    
.registration-box:nth-child(odd)::before{
   content: url('/FOH/fountainofhealth.ca/sites/default/files/inline-images/program-time.PNG');
    position: absolute;
    margin-bottom: -7rem;
}
.registration-box:nth-child(even)::before{
    content: url('/FOH/fountainofhealth.ca/sites/default/files/inline-images/image2.PNG');
     position: absolute;
     margin-bottom: -7rem;
 }
.field-content .program-duration:nth-child(odd){
    padding-left: 30px;
}
.registration-now > div > a
{    
    color: #ffffff;  
    font-family: poppins;
    font-size: 18px;
    text-align: center;
}





/*Testimonial Section*/
.testimonial{
    display: inline-flex;
    padding: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 24px 32px -3px #0309320A;
    margin: 2rem;
    }
    .block-views-blocktestmmonial-view-block-1 {
        margin-top: 10rem;
    }
    .block-views-blocktestmmonial-view-block-1 > .block-title{
        color: #6C87AE;
        font-size: 22px;
        font-weight: 300;	
		text-align: center;
        padding-left: 30%;
        padding-right: 30%;
    }
   .testimonial-row{
        display:flex;
        padding-bottom:5px;
    }


    /*.testimonial-content{
        color: var(--blue-1, #3A8EF6);
text-align: center;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
    }*/
.testimonial-field{
    text-align: justify;
    font-size: large;
    color: #031432;
    height: 25rem;
    line-height: 3rem;
    margin: 5%;
}
.testimonial > .views-field-title{
    color: #3A8EF6;
    font-size: large;
    font-weight: 500;
    line-height: 25px;
    margin-left: 5%;
}
/*form yes or no*/
.edit-this-is-my-first-group-session-with-fountain-of-health-{
    display: inline;
}
.course-table{
    margin: 5%;
}
.contextual-region>.course-table>.view-content>.table-responsive>.table>tbody>tr{
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    height: 7rem;
    color: #FFFFFF;
    text-align: center;
}
.contextual-region>.course-table>.view-content>.table-responsive>.table>tbody>tr>td{
    padding-top: 20px;
}

.contextual-region>.course-table>.view-content>.table-responsive>.table>thead{
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
    height: 5rem;
    border: 2px solid #FFFFFF ;
    font-weight: bolder;
    font-size: 17px;
    color: #000;
}
.contextual-region>.course-table>.view-content>.table-responsive>.table>thead
.views-field-title-1>a{
    display: block;
    color: #FFFFFF;
}
.contextual-region>.course-table>.view-content>.table-responsive>.table>thead>tr>th{
    padding-left: 10px;
}
/*
.views-field-field-sign-up-form-text{
    display: inline-block;
    height: 10px;
    width:2rem;
    color: black;
    font-weight: bold;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);

}*/
.contextual-region>.course-table>.view-content>.table-responsive>.table>tbody>tr>.views-field-field-sign-up-form-text>a{
    display: block;
    color: black;
    background-color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 8px 23px rgba(48, 62, 85, 0.24);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}



/* Webform progress display none */

.webform-progress {
    display: none;
}
/*2nd page static statusbar*/ 
.status-img-block{
    padding: 2%;
}
.course-details-content>p{
  /*  font-family: Poppins;
    font-size: 29px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000; */

    color: #000;
    text-align: center;
    font-size: 37px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.74px;
    margin-top: 6%;
    margin-bottom: 4%;
}


/*.dynamic-title{

    font-family: poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: center;

    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: center;

}*/

/* Form buttons center */
#edit-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.form-item-course-title{
    background: #5464F8;
    border: 1px solid #9A9A9A;
    color: #FFFFFF;
    height: 10rem;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    font-family: poppins;
    font-weight: bold;
    margin-bottom: 3%;


    
}

.form-terms-container{
    background: #447DF6;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #FFFFFF;
}

.form-terms-container .web-form-check-box{
    display: flex;
    padding-left: 100px;
}
.form-input-flexbox1{
    padding-left: 100px;
    padding-right: 100px;
}
#edit-flexbox-01 label,.fieldset-legend{
    color: #757575;
    font-size: 14px;
    font-family: poppins;
    font-weight: bold;
    line-height: 25px;
}
.check-box-lable{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.38px;
    
}
.check-box-hyper{
    display: inline-block;
    color: #FFF065;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.38px;
    text-decoration-line: underline;
}
.form-type-radio{
    display: inline-block;
    padding: 10px;
}

.edit-optional-email-me-about-weekly-flyers-and-latest-course-details-{
    padding-left: 10px;
}
.i-would-like-check-box{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.38px;
    padding-left: 10px;
    padding-bottom: 5px;

}
.form-required:after {
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI0VFMDAwMCIgIGQ9Ik0wLDcuNTYybDEuMTE0LTMuNDM4YzIuNTY1LDAuOTA2LDQuNDMsMS42ODgsNS41OSwyLjM1QzYuMzk4LDMuNTUzLDYuMjM3LDEuNTQ0LDYuMjIsMC40NDdoMy41MTEgYy0wLjA1LDEuNTk3LTAuMjM0LDMuNi0wLjU1OCw2LjAwM2MxLjY2NC0wLjgzOCwzLjU2Ni0xLjYxMyw1LjcxNC0yLjMyNUwxNiw3LjU2MmMtMi4wNSwwLjY3OC00LjA2LDEuMTMxLTYuMDI4LDEuMzU2IGMwLjk4NCwwLjg1NiwyLjM3MiwyLjM4MSw0LjE2Niw0LjU3NWwtMi45MDYsMi4wNTljLTAuOTM1LTEuMjc0LTIuMDQxLTMuMDA5LTMuMzE2LTUuMjA2Yy0xLjE5NCwyLjI3NS0yLjI0NCw0LjAxMy0zLjE0Nyw1LjIwNiBsLTIuODU2LTIuMDU5YzEuODcyLTIuMzA3LDMuMjExLTMuODMyLDQuMDE3LTQuNTc1QzMuODQ5LDguNTE2LDEuODcyLDguMDYyLDAsNy41NjIiLz48L3N2Zz4K);
    */
    background-image: url('img/789.svg');
    content: "";
    display: inline-block;
    vertical-align: super;
    line-height: 1;
    height: 7px;
    width: 10px;
}
#edit-registration-form > input{
    padding-left: 30px;
    padding-right: 30px;
}
.field--name-field-schedule-date-and-time{
    color: 
    #FFC700;
    text-align: center;
}
/*Form Next botton*/
#edit-actions--2{
    text-align: center;
    margin-top: 5%;

}
/*selvin*/

.header-img {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.header-img-text{
    position: absolute;
    margin-top: -19%;
    margin-left: -12%;
    float: left;
    color: #2C549C;
}
.header-img-text>div>div>.header-banner-p2{
    font-size: 40px;
}
.header-img-text>div>div>.header-banner-p1{
    font-size: 54px;
}
.header-top {
    display: inline-block;
}
.header-text {
    margin-top: 3rem;
    line-height: 2rem;
    margin-left: -5rem;
    margin-left: 10%;
}

.header-p1 > a > span{
    color:#FFC700;
    font-size: large;
}
.header-p1 > strong {
    font-size: x-large;
}

.header-p2 {
    font-size: medium;
}
.lang-switch{
    float: right;
    margin-top: -4rem;
    width: auto;
    position: relative;
}
.lang-switch > a {
    color: #F5F5F5;
    font-size: large;
}
.layout--twocol-section{
    width: 80%;
    margin-left: 10%;
    font-size: 28px;
    margin-top: 10rem;
    flex-wrap: nowrap;
}
.layout__region--first{
    width: 50%;
}
.layout__region--second>section>div>p{
    font-size: 16px;
    color: #6C87AE;
    margin-top: 2rem;
}
.layout__region--second>section>div>div{
    margin-top: 1rem;
}
.layout__region--second>section{
    padding: 4rem;
}

/*Sathish*/
.form-fill-info{
    margin-bottom: 3%;
}

.views-field-field-program-duration:nth-child(even){
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    padding-left: 56px;
}



.views-field-field-program-duration{
    word-wrap: break-word;
    /* word-break: break-all; */
    /* overflow-wrap: break-word; */
    padding-left: 70px;
}
.form-terms-containe>.web-form-check-box>.description >.description >.webform-element-description>p>a{
    display: block;
    color:#FFF065;
}
.twig-dynamic{
    color: #FFC700;
    font-family:sans-serif;
    line-height: 50px;
    font-weight: 0px;
}
/*bharat*/

.glyphicon-remove:before {
    display: none;
}
.final-pg-content1 {
    height:auto;
    width:100%;
    color:black;
    font-size:32px;
    text-align: "center";
    }
.final-pg-content2{
    height:auto;
    width:100%;
    color:black;
    font-size:32px;
    text-align: "center";
    font-weight: bold;
    }
.reg-button-block{
    width: 400px; 
    height: 56px; 
    font-size: 24px;  
    text-align: center;
    border-radius: 100px;
    padding-top: 5px;
}

a.button.foh-confirm-btn:hover, a.button.foh-confirm-btn:focus {
    text-decoration: none;
    color: #fff;
}
form.webform-submission-registration-form-form .webform-button--previous:hover, form.webform-submission-registration-form-form .webform-button--previous:focus {
    color: #fff;
    text-decoration: none;
}
form.webform-submission-registration-form-form .webform-button--previous, form.webform-submission-registration-form-form .button.button--primary {
    height: 56px;
    width: 400px;
    font-size: 18px;
    margin-left: 30px;
}

/*dhanush*/
.footer-img{
    display: block;
    float: left;
    height:108px;
    width:160px;
    margin-left: 7%;
}
.footer-icons{
    margin-top: 12rem;
    margin-left: 7%;
    position: absolute;
}
.footer-icons>img{
    height: 50px;
    width:50px;
    display: inline-block;
}
.youtube-icon{
    height: 250px;
    width: 250px;
}
/*.footer-text-blog{
    position: absolute;
}*/
.footer-main{
    background: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    color:#FFFFFF;
    height:250px;
    padding:55px;
    display: inline-block;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    width: 100%;
}
.footer{
    padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 30px;
}
.footer-line{
    border-left:1px solid white;
    height:150px;
    left:350px;
    position:absolute;
    margin-top: 0;
}

.footer-text{
    font-size: 17px;
    float: left;
    margin-left: 25%;
    margin-top: 1rem;
    line-height: 2.5rem;
    position: absolute;
    color: #F5F5F5;
}
form.webform-submission-registration-form-add-form .webform-button--next:hover, form.webform-submission-registration-form-form .webform-button--next:focus{
    text-decoration:none;
    color:#FFFFFF;
    
}
.program-time::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('img/image.png')
}