{%
  set classes = [
  'pargraphs-table-chart',
]
%}
<div{{ attributes.addClass(classes) }} id="{{ id_field_name }}" style="width: {{settings['chart_width']}}; height: {{settings['chart_height']}};">
</div>
